# remember to do
# import configparser
# in source
#
#

# the DEFAULT section in this sample.config ini file contains
# the default behavior
# of the program if there is no banner-preview.config supplied.

[DEFAULT]
# Defaults that should probably never be changed.
Border = 24
Tile = 512
RowSize = 6
HTMLIndex = index.html

# Defaults that may be flexible, if the chopper changes.
ChopDir = badges
HorizontalSpacing = 60
VerticalSpacing = 72

# Defaults that will often be overridden

# Where do the source images come from?  Default $cwd/badges if no FileList
FileList=

# Where do the outputs go?
OutputDirectore=preview

# What should the produced files be named?
KeepOriginalName=false
AppendSize=true
AppendSequence=true
FilePrefix= tile-

# details of the index file
Title = "Mission Banner"


